{% extends 'okcupid/base_bcrumbs.html' %}
{% load static helpers %}
{% block content_info %}

    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <ul id="filters" class="clearfix">
                    <li><span class="filter active" data-filter="app card icon logo web">All</span></li>
                    <li><span class="filter" data-filter="app">App</span></li>
                    <li><span class="filter" data-filter="card">Card</span></li>
                    <li><span class="filter" data-filter="icon">Icon</span></li>
                    <li><span class="filter" data-filter="logo">Logo</span></li>
                    <li><span class="filter" data-filter="web">Web</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row  mar-b-30">
            <div id="portfoliolist">
                <div class="col-md-12">
                    {% for match in matches %}
                        <div class="portfolio logo" data-cat="logo">
                            <div class="portfolio-wrapper">
                                <div class="portfolio-hover">
                                    <div class="image-caption">
                                        <a href="img/portfolios/logo/5.jpg" class="label magnefig label-info icon"
                                           data-toggle="tooltip" data-placement="left" title="Profile"><i
                                                class="fa fa-user"></i></a>
                                        <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip"
                                           data-placement="top" title="Send message"><i class="fa fa-envelope"></i></a>
                                        <a href="#" class="label label-info icon" data-toggle="tooltip"
                                           data-placement="right" title="Like"><i class="fa fa-heart"></i></a>

                                    </div>
                                    <img src="{% static 'img/portfolios/logo/5.jpg' %}" alt=""/>
                                    <div class="portfolio-footer">
                                        <div class="user">{{ match|matched_user:user.id }}</div>
                                        <div class="value">{{ match.value }}</div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="portfolio logo" data-cat="logo">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-hover">
                                <div class="image-caption">
                                    <a href="img/portfolios/logo/5.jpg" class="label magnefig label-info icon"
                                       data-toggle="tooltip" data-placement="left" title="Profile"><i
                                            class="fa fa-user"></i></a>
                                    <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="top" title="Send message"><i class="fa fa-envelope"></i></a>
                                    <a href="#" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="right" title="Like"><i class="fa fa-heart"></i></a>

                                </div>
                                <img src="{% static 'img/portfolios/logo/5.jpg' %}" alt=""/>
                                <div class="portfolio-footer">
                                    <div class="user">Aryan Curiel</div>
                                    <div class="value">95%</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio app" data-cat="app">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-hover">
                                <div class="image-caption">
                                    <a href="img/portfolios/app/3.jpg" class="label magnefig label-info icon"
                                       data-toggle="tooltip" data-placement="left" title="Zoom"><i
                                            class="fa fa-eye"></i></a>
                                    <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                    <a href="#" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                                </div>
                                <img src="{% static 'img/portfolios/app/3.jpg' %}" alt=""/>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio web" data-cat="web">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-hover">
                                <div class="image-caption">
                                    <a href="img/portfolios/web/2.jpg" class="label magnefig label-info icon"
                                       data-toggle="tooltip" data-placement="left" title="Zoom"><i
                                            class="fa fa-eye"></i></a>
                                    <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                    <a href="#" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                                </div>
                                <img src="{% static 'img/portfolios/web/2.jpg' %}" alt=""/>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio card" data-cat="card">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-hover">
                                <div class="image-caption">
                                    <a href="img/portfolios/card/1.jpg" class="label magnefig label-info icon"
                                       data-toggle="tooltip" data-placement="left" title="Zoom"><i
                                            class="fa fa-eye"></i></a>
                                    <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                    <a href="#" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                                </div>
                                <img src="{% static 'img/portfolios/logo/5.jpg' %}" alt=""/>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio app" data-cat="app">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-hover">
                                <div class="image-caption">
                                    <a href="img/portfolios/app/3.jpg" class="label magnefig label-info icon"
                                       data-toggle="tooltip" data-placement="left" title="Zoom"><i
                                            class="fa fa-eye"></i></a>
                                    <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                    <a href="#" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                                </div>
                                <img src="{% static 'img/portfolios/logo/5.jpg' %}" alt=""/>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio card" data-cat="card">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-hover">
                                <div class="image-caption">
                                    <a href="img/portfolios/card/1.jpg" class="label magnefig label-info icon"
                                       data-toggle="tooltip" data-placement="left" title="Zoom"><i
                                            class="fa fa-eye"></i></a>
                                    <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                    <a href="#" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                                </div>
                                <img src="{% static 'img/portfolios/logo/5.jpg' %}" alt=""/>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio card" data-cat="card">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-hover">
                                <div class="image-caption">
                                    <a href="img/portfolios/card/4.jpg" class="label magnefig label-info icon"
                                       data-toggle="tooltip" data-placement="left" title="Zoom"><i
                                            class="fa fa-eye"></i></a>
                                    <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                    <a href="#" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                                </div>
                                <img src="{% static 'img/portfolios/logo/5.jpg' %}" alt=""/>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio logo" data-cat="logo">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-hover">
                                <div class="image-caption">
                                    <a href="img/portfolios/logo/5.jpg" class="label magnefig label-info icon"
                                       data-toggle="tooltip" data-placement="left" title="Zoom"><i
                                            class="fa fa-eye"></i></a>
                                    <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                    <a href="#" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                                </div>
                                <img src="{% static 'img/portfolios/logo/5.jpg' %}" alt=""/>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio app" data-cat="app">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-hover">
                                <div class="image-caption">
                                    <a href="img/portfolios/app/1.jpg" class="label magnefig label-info icon"
                                       data-toggle="tooltip" data-placement="left" title="Zoom"><i
                                            class="fa fa-eye"></i></a>
                                    <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                    <a href="#" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                                </div>
                                <img src="{% static 'img/portfolios/logo/5.jpg' %}" alt=""/>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio card" data-cat="card">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-hover">
                                <div class="image-caption">
                                    <a href="img/portfolios/card/2.jpg" class="label magnefig label-info icon"
                                       data-toggle="tooltip" data-placement="left" title="Zoom"><i
                                            class="fa fa-eye"></i></a>
                                    <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                    <a href="#" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                                </div>
                                <img src="{% static 'img/portfolios/logo/5.jpg' %}" alt=""/>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio logo" data-cat="logo">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-hover">
                                <div class="image-caption">
                                    <a href="img/portfolios/logo/5.jpg" class="label magnefig label-info icon"
                                       data-toggle="tooltip" data-placement="left" title="Zoom"><i
                                            class="fa fa-eye"></i></a>
                                    <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                    <a href="#" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                                </div>
                                <img src="{% static 'img/portfolios/logo/5.jpg' %}" alt=""/>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio logo" data-cat="logo">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-hover">
                                <div class="image-caption">
                                    <a href="img/portfolios/logo/5.jpg" class="label magnefig label-info icon"
                                       data-toggle="tooltip" data-placement="left" title="Zoom"><i
                                            class="fa fa-eye"></i></a>
                                    <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                    <a href="#" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                                </div>
                                <img src="{% static 'img/portfolios/logo/5.jpg' %}" alt=""/>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio icon" data-cat="icon">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-hover">
                                <div class="image-caption">
                                    <a href="img/portfolios/icon/3.jpg" class="label magnefig label-info icon"
                                       data-toggle="tooltip" data-placement="left" title="Zoom"><i
                                            class="fa fa-eye"></i></a>
                                    <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                    <a href="#" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                                </div>
                                <img src="{% static 'img/portfolios/logo/5.jpg' %}" alt=""/>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio web" data-cat="web">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-hover">
                                <div class="image-caption">
                                    <a href="img/portfolios/web/1.jpg" class="label magnefig label-info icon"
                                       data-toggle="tooltip" data-placement="left" title="Zoom"><i
                                            class="fa fa-eye"></i></a>
                                    <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                    <a href="#" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                                </div>
                                <img src="{% static 'img/portfolios/logo/5.jpg' %}" alt=""/>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio icon" data-cat="icon">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-hover">
                                <div class="image-caption">
                                    <a href="img/portfolios/icon/1.jpg" class="label magnefig label-info icon"
                                       data-toggle="tooltip" data-placement="left" title="Zoom"><i
                                            class="fa fa-eye"></i></a>
                                    <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                    <a href="#" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                                </div>
                                <img src="{% static 'img/portfolios/logo/5.jpg' %}" alt=""/>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio web" data-cat="web">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-hover">
                                <div class="image-caption">
                                    <a href="img/portfolios/web/2.jpg" class="label magnefig label-info icon"
                                       data-toggle="tooltip" data-placement="left" title="Zoom"><i
                                            class="fa fa-eye"></i></a>
                                    <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                    <a href="#" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                                </div>
                                <img src="{% static 'img/portfolios/logo/5.jpg' %}" alt=""/>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio icon" data-cat="icon">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-hover">
                                <div class="image-caption">
                                    <a href="img/portfolios/icon/3.jpg" class="label magnefig label-info icon"
                                       data-toggle="tooltip" data-placement="left" title="Zoom"><i
                                            class="fa fa-eye"></i></a>
                                    <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                    <a href="#" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                                </div>
                                <img src="{% static 'img/portfolios/logo/5.jpg' %}" alt=""/>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio icon" data-cat="icon">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-hover">
                                <div class="image-caption">
                                    <a href="img/portfolios/icon/5.jpg" class="label magnefig label-info icon"
                                       data-toggle="tooltip" data-placement="left" title="Zoom"><i
                                            class="fa fa-eye"></i></a>
                                    <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                    <a href="#" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                                </div>
                                <img src="{% static 'img/portfolios/logo/5.jpg' %}" alt=""/>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio web" data-cat="web">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-hover">
                                <div class="image-caption">
                                    <a href="img/portfolios/web/4.jpg" class="label magnefig label-info icon"
                                       data-toggle="tooltip" data-placement="left" title="Zoom"><i
                                            class="fa fa-eye"></i></a>
                                    <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                    <a href="#" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                                </div>
                                <img src="{% static 'img/portfolios/logo/5.jpg' %}" alt=""/>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio logo" data-cat="logo">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-hover">
                                <div class="image-caption">
                                    <a href="img/portfolios/logo/2.jpg" class="label magnefig label-info icon"
                                       data-toggle="tooltip" data-placement="left" title="Zoom"><i
                                            class="fa fa-eye"></i></a>
                                    <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                    <a href="#" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                                </div>
                                <img src="{% static 'img/portfolios/logo/5.jpg' %}" alt=""/>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio logo" data-cat="logo">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-hover">
                                <div class="image-caption">
                                    <a href="img/portfolios/logo/3.jpg" class="label magnefig label-info icon"
                                       data-toggle="tooltip" data-placement="left" title="Zoom"><i
                                            class="fa fa-eye"></i></a>
                                    <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                    <a href="#" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                                </div>
                                <img src="{% static 'img/portfolios/logo/5.jpg' %}" alt=""/>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio icon" data-cat="icon">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-hover">
                                <div class="image-caption">
                                    <a href="img/portfolios/logo/5.jpg" class="label magnefig label-info icon"
                                       data-toggle="tooltip" data-placement="left" title="Zoom"><i
                                            class="fa fa-eye"></i></a>
                                    <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                    <a href="#" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                                </div>
                                <img src="{% static 'img/portfolios/logo/5.jpg' %}" alt=""/>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio card" data-cat="card">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-hover">
                                <div class="image-caption">
                                    <a href="img/portfolios/card/4.jpg" class="label magnefig label-info icon"
                                       data-toggle="tooltip" data-placement="left" title="Zoom"><i
                                            class="fa fa-eye"></i></a>
                                    <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                    <a href="#" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                                </div>
                                <img src="{% static 'img/portfolios/logo/5.jpg' %}" alt=""/>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio logo" data-cat="logo">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-hover">
                                <div class="image-caption">
                                    <a href="img/portfolios/logo/5.jpg" class="label magnefig label-info icon"
                                       data-toggle="tooltip" data-placement="left" title="Zoom"><i
                                            class="fa fa-eye"></i></a>
                                    <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                    <a href="#" class="label label-info icon" data-toggle="tooltip"
                                       data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                                </div>
                                <img src="{% static 'img/portfolios/logo/5.jpg' %}" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

{% endblock %}

{% block page_script %}
    <script type="text/javascript">
        $('.image-caption a').tooltip();
        $(function () {

            var filterList = {

                init: function () {

                    // MixItUp plugin
                    // http://mixitup.io
                    $('#portfoliolist').mixitup({
                        targetSelector: '.portfolio',
                        filterSelector: '.filter',
                        effects: ['fade'],
                        easing: 'snap',
                        // call the hover effect
                        onMixEnd: filterList.hoverEffect()
                    });

                },

                hoverEffect: function () {
                    $("[rel='tooltip']").tooltip();
                    // Simple parallax effect
                    $('#portfoliolist').find('.portfolio .portfolio-hover').hover(
                        function () {
                            $(this).find('.image-caption').slideDown(250); //.fadeIn(250)
                        },
                        function () {
                            $(this).find('.image-caption').slideUp(250); //.fadeOut(205)
                        }
                    );


                }

            };

            // Run the show!
            filterList.init();


        });
    </script>
{% endblock %}

